*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #878999;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.head{
    width: fit-content;
    background-color: #1c1c1e;
    height: 100%;
    padding: 0px 20px;
    border-radius: 28px 0px 0px 28px;
}

.wrapper{
    background-color: #000000;
    margin: 50px;
    border-radius: 28px;
    height: 88vh;
}

.link a{
    font-size: 24px;
    color: #848484;
}

.link li{
    padding: 12px;
    text-align: center;
    margin: 16px 0;
}

.active-link{
    background-color: #101010;
    border-radius: 8px;
}

.active-link a{
    color: white;
}

.link hr{
    width: 100%;
    background-color: #29282b;
    height: 3px;
    border: none;
}